*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#blocoMensagem {
    width: 228px;
    height: 200px;
    /* padding: 5px; */
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #DADADA;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: small;
    margin-left: 15px;
    margin-top: 15px;
}

.texto {
    display: inline-block;
    position: relative;
    width: 228px;
    height: 155px;
    font-weight: 200;
    /* para cortar o texto*/
    text-overflow: ellipsis;
    overflow: hidden;
    object-fit: cover;
    flex: 1 0 auto;
    margin: 0;
    padding: 20px 15px 10px 15px;

}

.carrossel{
    overflow: hidden;
    height: 155px;
    width: 228px;
}

.carrossel > .container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}